body
{
      width: 100%;
      height: 100%;
      background: #EDE7E3; /* Replace gradient with solid color */
      --fc-button-active-bg-color: #b4a395;
      --fc-button-bg-color: #cabfb7;
      --fc-button-border-color: #47413d;
      --fc-button-text-color:#47413d;
      --fc-button-hover-bg-color: #938881;
      --fc-button-hover-border-color: #47413d;
      --fc-button-active-border-color: none;
}


.fc-toolbar .fc-button
{
    font-family: Katibeh;
    color: #47413d;
}
.logo
{
    width: 2%;
    min-width: 80px;
}

.profile-button
{
    width: 2%;
    min-width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.ReactModal__Overlay
{
    z-index: 1000; /* Ensure it's above other content */
}

/* Modal Content */
.ReactModal__Content {
    background-color: #DBC1AC;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    border: 1px solid #52545C;
    border-radius: 10px; /* Rounded corners */
    outline: none;
    padding: 20px;
    width: 30vw; /* Set to a percentage of the screen width */
    max-width: 500px; /* Maximum width of the modal */
    max-height: 25vh; /* Maximum width of the modal */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Shadow for pop effect */
}
.ReactModal__Content button{
    background-color: #CDBFB6;
    color: #47413d;
    font-weight: bold;
}
.ReactModal__Content button:hover{
    background-color: #8e7e75;
}
.centered-modal {
    background-color: #DBC1AC;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    border: 1px solid #52545C;
    border-radius: 10px; /* Rounded corners */
    outline: none;
    padding: 20px;
    width: 15%; /* Set to a percentage of the screen width */
    max-width: 250px; /* Maximum width of the modal */
    height: 15%; /* Set to a percentage of the screen width */
    max-height: 250px; /* Maximum width of the modal */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Shadow for pop effect */
  }

  .editSTModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

div.ReactModal__Content.ReactModal__Content--after-open{
    background:#DBC1AC !important;
}

.MuiBox-root button{
    background-color: #CDBFB6;
    color: #47413d;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
    background-color: #CDBFB6 !important;
    color: #47413d !important;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #8e7e75 !important;
}

.MuiOutlinedInput-root & .Mui-focused fieldset{
    border-color:#47413d;

}

.MuiBox-root button:hover{
    background-color: #8e7e75;
}