body
{
      width: 100%;
      height: 100%;
      background: #EDE7E3; /* Replace gradient with solid color */
      --fc-button-active-bg-color: #b4a395;
      --fc-button-bg-color: #cabfb7;
      --fc-button-border-color: #47413d;
      --fc-button-text-color:#47413d;
      --fc-button-hover-bg-color: #938881;
      --fc-button-hover-border-color: #47413d;
      --fc-button-active-border-color: none;
}


.fc-toolbar .fc-button
{
    font-family: Katibeh;
    color: #47413d;
}
.logo
{
    width: 2%;
    min-width: 80px;
}

.profile-button
{
    width: 2%;
    min-width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.ReactModal__Overlay
{
    z-index: 1000; /* Ensure it's above other content */
}

/* Modal Content */
.ReactModal__Content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    outline: none;
    padding: 20px;
    width: 30%; /* Set to a percentage of the screen width */
    max-width: 500px; /* Maximum width of the modal */
    height: 50%; /* Set to a percentage of the screen width */
    max-height: 500px; /* Maximum width of the modal */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Shadow for pop effect */
}

.centered-modal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    outline: none;
    padding: 20px;
    width: 15%; /* Set to a percentage of the screen width */
    max-width: 250px; /* Maximum width of the modal */
    height: 15%; /* Set to a percentage of the screen width */
    max-height: 250px; /* Maximum width of the modal */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Shadow for pop effect */
  }

  .editSTModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }