.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: #47413d;
}
.MuiOutlinedInput-notchedOutline{
    border-color: #47413d;
    border-radius: 2px;
}

.css-1h51icj-MuiAutocomplete-root{
    border-color: #47413d;
    border-radius: 2px;
}