body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #EDE7E3 0%,
    #EDE7E3 50%,
    #F8F8F8 50%,
    #F8F8F8 100%
  )
}


h1 {
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.row{
  display: flex;
}

.column{
  flex: 50%;
  margin-top: 5%;
  align-self: center;
  place-items: center;
  
}

.business-photo {
  height: 70%;
  width: 70%;
  padding-left: 20%;
  align-self: center;
  place-items: center;
}
.login-box {
  background-color: E7D8CC;
  padding: 10%;
  border-radius: 5px;
  display: grid;
  align-self: center;
  place-items: center;
  position: relative;
}

@media (max-width: 576px) {
  .login-box {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
  }

}

.username{
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 15px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}

.password{
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 15px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}

  input {
  width: 200px;
  margin: 0 auto;
  background-color: #CDBFB6;
  border-radius: 10px;
  padding: 10px 0px 10px 40px;
  font-size: 20px;
}

.submit-button{
  width: 200px;
  height: 50px;
  background-color: #B1947B;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
}
.login-register-p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-register-url{
  text-decoration: none;
  color: #B1947B;
  
}

.login-register-url:hover{
  text-decoration: underline;
}

.username-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.username-input-group img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.username-input-group input {
  padding-left: 40px;
}

.username-input-group img {
  z-index: 1;
}

.username-input-group input {
  z-index: 0;
}



.password-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-group img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.password-input-group input {
  padding-left: 40px;
}

.password-input-group img {
  z-index: 1;
}

.password-input-group input {
  z-index: 0;
}



