
h1 {
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo{
  width: 50%;
  min-width: 100px;
}
.row{
  display: flex;
}

.business-photo {
  height: 70%;
  width: 70%;
  padding-left: 20%;
  align-self: center;
  place-items: center;
}

.login-box {
  padding-top: 5% 10% 5% 10%;
  border-radius: 5px;
  display: grid;
  align-self: center;
  place-items: center;
  position: relative;
}

.username{
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 15px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}

.password{
  color: #49423E;
  text-align: center;
  font-family: Katibeh;
  font-size: 15px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}

  .login-box input {
  width: 200px;
  margin: 0 auto;
  background-color: #CDBFB6;
  border-radius: 10px;
  padding: 10px 0px 10px 40px;
  font-size: 20px;
}

.submit-button{
  width: 200px;
  height: 50px;
  background-color: #B1947B;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
}
.login-register-p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-register-url{
  text-decoration: none;
  color: #B1947B;
}

.login-register-url:hover{
  text-decoration: underline;
}


.username-input-group {
  position: relative;
  display: flex;
  align-items: center;
}
.username-input-group img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.username-input-group input {
  padding-left: 40px;
}


.username-input-group img {
  z-index: 1;
}

.username-input-group input {
  z-index: 0;
}


.password-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-group img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

#log-checkbox_wrapper {
  position: absolute;
  right: 35px; /* Align to the right edge of the password-input-group */
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center; /* Center the icon vertically */
  padding-right: 10px; /* Add some padding if needed */
  justify-content: center;
}

#log-checkbox_wrapper input[type="checkbox"] {
  opacity:0;
  position: absolute;
  left: 90%;
  bottom: -4px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 2;
}

#log-checkbox_wrapper input[type="checkbox"] + label{
  background:url('../images/eye_closed.png') no-repeat;
  position: absolute;
  left: 90%;
  bottom: -4px;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  z-index: 1;
}

#log-checkbox_wrapper input[type="checkbox"]:checked + label{
  background:url('../images/eye_open.png') no-repeat;
  position: absolute;
  left: 90%;
  bottom: -4px;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  z-index: 1;
}

.password-input-group input {
  padding-left: 40px;
}

.password-input-group img {
  z-index: 1;
}

.password-input-group input {
  z-index: 0;
}

.eye-icon {
  width: 24px !important; /* Adjust to your desired size */
  height: 24px !important; /* Adjust to your desired size */
  cursor: pointer;
}


@media (min-width: 650px){
  #login-body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      #EDE7E3 0%,
      #EDE7E3 50%,
      #F8F8F8 50%,
      #F8F8F8 100%
    )
  }
  
  .title{
    padding-left: 10%;
    padding-right: 70%;
  }

  .main-column{
    flex: 50%;
    align-self: center;
    place-items: center;
  }
  .column{
    flex: 50%;
    align-self: center;
    place-items: center;
  }
}
@media (min-width: 1100px) {
  .login-box input {
    width: 400px;
    margin: 0 auto;
    background-color: #CDBFB6;
    border-radius: 10px;
    padding: 10px 0px 10px 40px;
    font-size: 20px;
  }
  .username{
    color: #49423E;
    text-align: center;
    font-family: Katibeh;
    font-size: 20px;
    font-style: normal;
    font-weight: 10;
    line-height: normal;
  }

  .password{
    color: #49423E;
    text-align: center;
    font-family: Katibeh;
    font-size: 20px;
    font-style: normal;
    font-weight: 10;
    line-height: normal;
  }
  .submit-button{
    width: 400px;
    height: 50px;
    background-color: #B1947B;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    font-size: 20px;
  }
  .login-register-p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .business-photo {
    height: 70%;
    width: 70%;
    padding-left: 20%;
    align-self: center;
    place-items: center;
  }
}

@media (max-width: 650px) {
  #login-body {
    background-color: #F8F8F8;
    height: 100vh;
  }
  .login-box {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
  }

  .main-column{
    flex: 100%;
    margin-top: 1%;
    align-self: center;
    place-items: center;
  }
  .column{
    flex: 0%;
  }
  .title{
    padding-left: 20%;
    padding-right: 40%;
  }
  
}

#reset-photo{
  padding-top: 70px;
}

.checkbox_wrapper img{
  right: 215px;
  top: -110px;
}

.checkbox_wrapper2 img{
  left: 666px;
  top: 175px;
}

.pass-popup{
  position: absolute;
  background-color: #ff9999;
  color: #333;
  padding: 8px;
  border: 1px solid #cc6666;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1;
}


