.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .register-form div {
    margin-bottom: 10px;
  }
  
  .register-title {
    text-align: center;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
  }
  
  .register-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  